<a href="https://colab.research.google.com/github/isabelbrandao/AquaSat/blob/master/Copy_of_Analysis_of_Amsterdam_Airbnb_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Data Science na Prática 4.0**
*Exercise template given by [sigmoidal.ai](https://sigmoidal.ai)* and solved by Isabel Brandao

---

# Analysis of Airbnb data in - *Amsterdam*

[Airbnb](https://www.airbnb.com.br/) is already considered **the largest hotel company of our time**, with a unique twist **it doesn't own any hotels**!

Airbnb connects people looking to travel and find accommodations with hosts who want to rent out their properties in a convenient manner, providing an innovative platform for alternative lodging.

As of the end of 2018, this startup, founded a decade ago, had already **accommodated over 300 million** people globally, challenging traditional hotel chains.

One of Airbnb's notable initiatives is to provide data from its platform, for various major cities worldwide. Through the [Inside Airbnb](http://insideairbnb.com/get-the-data.html) portal, you can access a wealth of data to develop *Data Science* projects and solutions.

<center><img alt="Analisando Airbnb" width="10%" src="https://www.area360.com.au/wp-content/uploads/2017/09/airbnb-logo.jpg"></center>

**In this *notebook*, we will explore the data specific to the city of Amsterdam, with the goal of revealing valuable insights from the raw data.**

## Accessing the Airbnb Data

In [1]:
# import required packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# import data listings.csv into a DataFrame
df_ams = pd.read_csv("/content/drive/MyDrive/Data_science_stuff/data/listings_ams.csv")

## Data Analysis

**description of the variables**

* id - Airbnb's unique identifier for the listing
* name - Name of the listings
* host_id - Airbnb's unique identifier for the host/user.
* host_name - Name of the host. Usually just the first name(s)
* neighbourhood_group - this column doesn't show valid values
* neighbourhood - district
* latitude - Uses the World Geodetic System (WGS84) projection for latitude

* longitude - Uses the World Geodetic System (WGS84) projection for longitude
* room_type - type of room: home/apt/private room/shared room/hotel
* price - daily price in local currency
* minimum_nights - minimum number of night stay for the listing
* number_of_reviews - The number of reviews the listing has
* last_review - he date of the first/oldest review
* reviews_per_month - The number of reviews the listing has (in the last 30 days)
* calculated_host_listing_count - The number of listings from the same host
* availability_365 - The availability of the listing within 365 days



**Before initiating any analysis, let's begin by examining the initial entries in our *dataset*. We will review the first 5 entries to get sense of the data.**

In [7]:
# Showing the first 5 rows
df_ams.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,761411,Condo in Amsterdam · ★4.74 · 1 bedroom · 1 bed...,4013546,Xsjong,NaN,Noord-Oost,52.40164,4.95106,Private room,61,3,303,2023-08-19,2.30,2,272,26,0363 D4AD DCF3 E72A 56A2
1,768274,Rental unit in Amsterdam · ★4.83 · 1 bedroom ·...,3678216,J & R,NaN,Westerpark,52.38855,4.88521,Entire home/apt,327,3,78,2023-08-16,0.64,1,16,6,0363 7A50 18E7 51D1 B7F9
2,768737,Boat in Amsterdam · ★4.82 · 1 bedroom · 1 bed ...,3877342,Nicole,NaN,Westerpark,52.37824,4.86826,Private room,109,2,341,2023-08-24,2.73,3,29,43,036396BE30827DDB9575
3,771217,Houseboat in Amsterdam · ★5.0 · 3 bedrooms · 3...,4068486,Danielle,NaN,Zuid,52.34091,4.84802,Entire home/apt,290,3,10,2019-01-02,0.11,1,0,0,0363 D807 AD6C 499A F871
4,771343,Rental unit in Amsterdam · ★4.89 · 1 bedroom ·...,2313061,Marcel,NaN,Centrum-West,52.37641,4.88303,Private room,150,1,699,2023-09-01,6.62,2,196,110,0363 8C61 E9B9 5582 913E

### **Q1. How many variables and inputs are there in our dataset, and what are the types of these variables?**
 Let's proceed to find out the number of entries in our dataset and examine the data types for each column.
 It's worth noting that the dataset we've acquired is the "summarized" version of the Airbnb data for Amsterdam.
 There is also a more extensice version available, which can be found in the listings.csv.gz file on the same page where we downloaded this dataset.

In [ ]:
# identifying the size of our DataFrame

# checking the first 5 entries of the DataFrame

### **Q2. Qual a porcentagem de valores ausentes no *dataset*?**

In [ ]:
# ordenar em ordem decrescente as variáveis por seus valores ausentes

### **Q3. Qual o tipo de distribuição das variáveis?**

In [ ]:
# plotar o histograma das variáveis numéricas

### **Q4. Qual a média dos preços de aluguel?**

In [ ]:
# ver a média da coluna `price``

### **Q4. Qual a correlação existente entre as variáveis**

In [ ]:
# criar uma matriz de correlação

# mostrar a matriz de correlação

In [ ]:
# plotar um heatmap a partir das correlações

### **Q5. Qual o tipo de imóvel mais alugado no Airbnb?**

In [ ]:
# mostrar a quantidade de cada tipo de imóvel disponível

In [ ]:
# mostrar a porcentagem de cada tipo de imóvel disponível

### **Q6. Qual a localidade mais cara do dataset?**

In [ ]:
# ver preços por bairros, na média

In [ ]:
# plotar os imóveis pela latitude-longitude

### **Q7. Qual é a média do mínimo de noites para aluguel (minimum_nights)?**

In [ ]:
# ver a média da coluna `minimum_nights``

## Conclusões